html{
    scroll-padding-top: 55px;
}
#canvas-gravity{
    border: 2px solid black;
    width: 600px;
    height: 400px;
}
#gravity-button{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 5px;
}
#gravity-button a{
    border-radius: 4px;
    background-color: limegreen;
    padding: 5px 5px;
    transition: 0.5s;
}
#gravity-button a:hover{
    cursor: pointer;
    background-color: green;
    transition: 0.5s;
}
#gravity-sim{
    display: inline-block;
}
#nav-bar{
    position: sticky;
    top: 0px;
    background-color: #333;
    overflow: hidden;
    z-index: 999999;
}
#nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
.nav-bar a:hover{
    background-color: #ddd;
    color: black;
}
#main-div{
    display: block;
    margin-top: 10px;
    top: 10px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
#intro a {
    text-decoration: none;
    color: #0000EE;
}
#description p a {
    text-decoration: none;
    color: #0000EE;
}
#description div {
    color: #5a6470;
    position: relative;
    display: block;
    text-align: center;
    font-size: 14px;
}
#description iframe {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 13;
}
#fun-facts a {
    text-decoration: none;
    color: #0000EE;
}
#gravity-sim{
    position: relative;
    display: block;
    text-align: center;
}
#footnotes p a {
    text-decoration: none;
    color: #0000EE;
}
#footnotes {
    margin-top: 15px;
    border-top: 2px solid #bdbdbd;
}
#description p strong {
    margin: 10px 0px;
}